<header>
  <div class="header">
    <div class="heading">
      <h1 class="title">
        <%= link_to 'With pet', root_path, class: "title-logo" %>
      </h1>
    </div>
    <div class="search-area">
      <%= render "share/search_form"%>
      
    </div>
    <div class="navbar">
      <ul class="nav-lists">
    <% if user_signed_in? %>
      <li class="header-li">
        <div class="user-nickname" id="mypage">
          <div class="nickname">
            Welcome <%= current_user.nickname %>
          </div> 
       
          <ul class="mypage-pulldown hidden" id="mypage-list">
            <li class="mypage-menu">
              <%= link_to user_path(current_user.id), class: "user-info" do %>
                <div class="mypage-icon-logo">
                  <i class="fa-solid fa-user" style="color: #874e5c;"></i>
                  <div class="user-info-logo">
                    プロフィール
                  </div>
                </div>
              <% end %>
            </li>
            
            <li class="mypage-menu">
              <%= link_to favorites_path, class: "myfavorite" do %>
                <div class="mypage-icon-logo">
                  <i class="fa-solid fa-heart" style="color: #ec3383;"></i>
                  <div class="myfavorite-logo">
                    お気に入りリスト
                  </div>
                </div>
              <% end %>
            </li>

            <li class="mypage-menu">
              <%= link_to reviews_path, class: "mycomment" do %>
                <div class="mypage-icon-logo">
                  <i class="fa-regular fa-comment" style="color: #74C0FC;"></i>
                  <div class="mycomment-logo">
                    口コミ投稿リスト
                  </div>
                </div>
              <% end %>
            </li>

            <li class="mypage-menu">
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" do %>
                <div class="mypage-icon-logo">
                  <i class="fa-solid fa-up-right-from-square" style="color: #B197FC;"></i>
                  <div class="logout-logo">
                    ログアウト
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    <% else %>
      <li class="header-li">
        <%= link_to new_user_registration_path, class: "btn btn--header btn--cubic btn--shadow" do %>
          <div class="signup">Signup</div>
          <i class="fa-solid fa-angles-right fa-sm" style="color: #a37b7c;"></i>
        <% end %>
      </li>
      <li class="header-li">
        <%= link_to new_user_session_path, class: "btn btn--header btn--cubic btn--shadow" do %>
          <div class="login">Log in</div>
          <i class="fa-solid fa-angles-right fa-sm" style="color: #a37b7c;"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
      </ul>
    </div>
  </div>
</header>
