<%= render "share/header" %>

<div class="my-favorite-page">
  <div class="my-favorite-logo">
    お気に入りリスト
  </div>
  <div class="my-favorite-list">
    <ul class="shop-li">
      <% @favorited_shops.each do |shop| %>
        <%= link_to shop_path(shop.id) do %>
          <li class="shop">
            <%= image_tag shop.image_path, class: "shop_image" %>
            <div class="shop-info-top">
              <h2 class='shop_name'>
                <%= shop.name %>
              </h2>
              <div class='favorite-btn', id="favorite-btn<%= shop.id%>">
                <%= render partial: "favorites/favorite", locals: { shop: shop }%>
              </div>
            </div>
            <div class='location'>
              <p class='shop_address'>
                <%= shop.address %>
              </p>
              <p class='shop_access'>
                アクセス： <%= shop.nearest_station %>から徒歩 <%= shop.time_to_station %>分
              </p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>