<%= render "share/header" %>

<div class='main'>
  <div class='top-page'>
    <%# <検索フォーム> %>
    <div class='form'>
      <div class='search_form'>
        <%= search_form_for @q do |f| %>
          <div class='search_address'>
            <div class='address_label'>
              <%= f.label :address_cont, "地域からさがす" %>
            </div>
            <div class='address_input'>
              <%= f.search_field :address_cont, placeholder: "東京都、神奈川県etc..." %>
            </div>
          </div>
          <div class='search_station'>
            <div class='station_label'>
              <%= f.label :nearest_station_cont, "駅からさがす" %>
            </div>
            <div class='station_search'>
              <%= f.search_field :nearest_station_cont, placeholder: "渋谷駅、横浜駅etc..." %>
            </div>
          </div>
          <div class='search_btn'>
            <%= f.submit "さがす" %>
          </div>
        <% end %>
      </div>
    </div>
    <%# <検索フォーム> %>


    <%# <shop一覧> %>
    <div class='shop_list'>
      <ul class='shop-li'>
        <% @shops.each do |shop| %>
          <li class='shop'>
            <%= link_to shop_path(shop.id) do %>
              <%= image_tag shop.image_path, class: "shop_image" %>
            <div class="shop-info-top">
              <h2 class='shop_name'>
                <%= shop.name %>
              </h2>
              <% end %>
              <div class='favorite-btn', id="favorite-btn<%= shop.id%>">
                <%= render partial: "favorites/favorite", locals: { shop: shop }%>
              </div>
            </div>
            <%= link_to shop_path(shop.id) do %>
              <div class='location'>
                <p class='shop_address'>
                  <%= shop.address %>
                </p>
                <p class='shop_access'>
                  アクセス： <%= shop.nearest_station %>から徒歩 <%= shop.time_to_station %>分
                </p>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <%# <shop一覧> %>
  </div>
</div>