<div class="show-wrapper">
  <div class="attention-message">
    <%# <i class="fa-solid fa-triangle-exclamation" style="color: #e10909;"></i> %>
    <%= flash[:notice] %>
    <%# <i class="fa-solid fa-triangle-exclamation" style="color: #e10909;"></i> %>
  </div>
  <div class="show-page">
    <div class="show-container">
      <div class="show-header-text">
        <h2 class="shop-name-content">
          <%= @shop.name %>
        </h2>
      </div>
      <div class="shop-content">
        <%= image_tag @shop.image_path, class: "shop-image-content" %>
        <div class="icon">
          <% if user_signed_in? %>
            <div class="show-favorite-btn" id="favorite-btn<%= @shop.id %>">
              <%= render partial: "favorites/favorite", locals: { shop: @shop } %>
            </div>
            <div class="show-review-btn">
              <%= link_to new_shop_review_path(@shop) do %>
                <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #874e5c;"></i>
              <% end %>
            </div>
          <% else %>
            <div class="review-post-none">
              <div class="none-logo">
                ログインするとお気に入り登録やレビューの投稿ができます！
              </div>
              <%= link_to 'ログインする', new_user_session_path, class: "login-link" %>
            </div>
          <% end %>
        </div>
        <div class="top-back-link">
          <%= link_to root_path, class: 'btn btn--back btn--circle btn--circle-a btn--shadow' do %>
            <div class="top-back-btn">
              <i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="show-details">
      <div class="shop-details">
        <div class="show-info-logo">
          <div class="shop-info-icon">
            <i class="fa-solid fa-circle-info fa-lg" style="color: #e2b091;"></i>
          </div>
          <div class="shop-info-logo">
            Shop Infomation
          </div>
        </div>
        <ul class="shop-info-li">
          <li class="shop-info">
            <div class="shop-label">所在地</div>
            <div class="shop-address">
              <%= @shop.address %>
            </div>
            <div class="map-area">
              <iframe
                id="inlineFrameExample"
                class="map"
                title="Inline Frame Example"
                width="400"
                height="250"
                src="https://maps.google.co.jp/maps?q=<%= @shop.name %>&output=embed">
              </iframe>
            </div>
          </li>

          <li class="shop-info">
            <div class="shop-label">アクセス</div>
            <div class="shop-access">
              <%= @shop.nearest_station %>から徒歩<%= @shop.time_to_station %>分
            </div>
          </li>
              

          <li class="shop-info">
            <div class="shop-label">TELL</div>
            <div class="shop-tell">
              <%= @shop.phone_number %>
            </div>
          </li>

          <li class="shop-info">
            <div class="shop-label">営業時間</div>
            <div class="shop-opening">
              <%= @shop.opening_times_daytimes %>
            </div>
          </li>

          <li class="shop-info">
            <div class="shop-label">店休日</div>
            <div class="shop-close">
              <%= @shop.closing_days %>
            </div>
          </li>

          <li class="shop-info">
            <div class="shop-label">備考</div>
            <div class="shop-attention">
              <%= @shop.attention %>
            </div>
          </li>
        </ul>
      </div>
    </div>

  <div class="reviews-container">
    <div class="reviews-wrap">
      <div class="reviews-logo">
        <h2 class="reviews-title">Review</h2>
        <i class="fa-regular fa-comments fa-xl" style="color: #e25f70;"></i>
      </div>
      <% if @shop.reviews.present? %>
        <% @shop.reviews.each do |review| %>
          <div class="review-item">
            <div class="more-options-blank">
              <div class="more-options">
                <% if user_signed_in? && (review.user_id == current_user.id) %>
                  <i class="fa-solid fa-circle-chevron-down fa-lg" style="color: #ffffff;"></i>
                  <ul class="more-list">
                    <li>
                      <%= link_to '編集', edit_shop_review_path(@shop, review) %>
                    </li>
                    <li>
                      <%= link_to '削除', shop_review_path(@shop, review), data: {turbo_method: :delete } %>
                    </li>
                  </ul>
                <% end %>
              </div>
            </div>
            <% if review.image.attached? %>
              <div class="review-image">
                <%= image_tag review.image.variant(resize: '300x300') %>
              </div>
            <% end %>
            <div class="review-content">
              <p class="review-date"><strong>来店日:</strong> <%= review.visit_date %></p>
              <p class="review-comment"><%= review.comment %></p>
              <p class="review-user"><%= review.user.nickname %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="none-reviews">
          レビューはまだありません。
        </div>
      <% end %>
    </div>
  </div>
</div>
