<%= render "share/header" %>

<div class="show-page">
  <div class="show-item">
    <div class="show-header-text">
      <h2 class="shop-name-content">
        <%= @shop.name %>
      </h2>
      <% if user_signed_in? %>
        <div class="show-favorite-btn" id="favorite-btn<%= @shop.id%>">
          <%= render partial: "favorites/favorite", locals: { shop: @shop }%>
        </div>
      <% end %>
    </div>
    <div class="shop-content">
      <%= image_tag @shop.image_path ,class:"shop-image-content" %>
    </div>

    <ul class="shop-info-li">
      <li class="shop-info">
        <div class="shop-label">所在地</div>
        <div class="shop-address">
          <%=  @shop.address %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">アクセス</div>
        <div class="shop-access">
          <%= @shop.nearest_station %>から徒歩<%= @shop.time_to_station %>分
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">TELL</div>
        <div class="shop-tell">
          <%= @shop.phone_number %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">営業時間</div>
        <div class="shop-opening">  
          <%= @shop.opening_times %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">店休日</div>
        <div class="shop-close">
          <%= @shop.closing_days %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">備考</div>
        <div class="shop-attention">
          <%= @shop.attention %>
        </div>
      </li>
    </ul>
    <div class="review-post-page">
      <%= link_to "レビューを書く", new_shop_review_path(@shop) %>
    </div>
    <h2>レビュー一覧</h2>
      <% @shop.reviews.each do |review| %>
        <div class="review-all">
          <p><strong>来店日</strong> <%= review.visit_date %></p>
          <p><%= review.comment %></p>
          <p><%= review.user.nickname %></p>
        </div>
      <% end %>
  </div>
</div>
