<div class="show-page">
  <div class="attention-message">
    <%= flash[:notice] %>
  </div> 
  <div class="show-container">
    <div class="show-header-text">
      <h2 class="shop-name-content">
        <%= @shop.name %>
      </h2>
      <div class="show-favorite-btn" id="favorite-btn<%= @shop.id%>">
        <% if user_signed_in? %>
          <%= render partial: "favorites/favorite", locals: { shop: @shop }%>
        <% end %>
      </div>
    </div>
    <div class="shop-content">
      <%= image_tag @shop.image_path ,class:"shop-image-content" %>
    </div>

    <ul class="shop-info-li">
      <li class="shop-info">
        <div class="shop-label">所在地</div>
        <div class="shop-address">
          <%=  @shop.address %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">アクセス</div>
        <div class="shop-access">
          <%= @shop.nearest_station %>から徒歩<%= @shop.time_to_station %>分
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">TELL</div>
        <div class="shop-tell">
          <%= @shop.phone_number %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">営業時間</div>
        <div class="shop-opening">  
          <%= @shop.opening_times %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">店休日</div>
        <div class="shop-close">
          <%= @shop.closing_days %>
        </div>
      </li>

      <li class="shop-info">
        <div class="shop-label">備考</div>
        <div class="shop-attention">
          <%= @shop.attention %>
        </div>
      </li>
    </ul>

    <% if user_signed_in? %>
      <div class="review-post-page">
        <%= link_to "レビューを書く", new_shop_review_path(@shop), class: "review-button" %>
      </div>
    <% else %>
      <div class="review-post-none">
        <div class="none-logo">
          ログインしてレビューを書こう！
        </div>
        <%= link_to 'ログインする', new_user_session_path, class: "login-button" %>
      </div>
    <% end %>
    <h2 class="reviews-title">みんなのReview</h2>
    <div class="reviews-container">
      <% if @shop.reviews.present? %>
        <% @shop.reviews.each do |review| %>
          <div class="review-item">
            <% if review.image.attached? %>
              <div class="review-image">
                <%= image_tag review.image.variant(resize: '300x300') %>
              </div>
            <% end %>
            <div class="review-content">
              <p class="review-date"><strong>来店日:</strong> <%= review.visit_date %></p>
              <p class="review-comment"><%= review.comment %></p>
              <p class="review-user"><%= review.user.nickname %></p>
            </div>
            <div class="more-options">
              <%= image_tag 'arrow_top.png' %>
            </div>
            <ul class="more_list"> 
              <li> 
                <%= link_to '編集', edit_shop_review_path(@shop, review) %>
              </li>  
              <li> 
                <%= link_to '削除', shop_review_path(@shop, review), data: {turbo_method: :delete } %>
              </li>
            </ul>
          </div>
        <% end %>
      <% else %>
        <div class="none-reviews">
          レビューはまだありません。
        </div>
      <% end %>
    </div>
  </div>
  <div class="top-back-link">
    <%= link_to 'もどる', root_path, class: 'top-back-button' %>
  </div>
</div>