<div class="mypage-area">
  <div class='mypage-container'>
    <div class='mypage-header'>
      <i class="fa-regular fa-user fa-xl" style="color: #e25f70;"></i>
      <div class='mypage-header-text'>
        Profile
      </div>
      
    </div>

    <ul class="mypage-li">
      <li class="mypage-group">
        <div class='mypage-text-wrap'>
          <div class="mypage-nickname-label">ニックネーム</div>
          <div class="mypage-nickname">
            <%= @user.nickname %>
          </div>
        </div>
      </li>

      <li class="mypage-group">
        <div class='mypage-text-wrap'>
          <div class="mypage-email-label">メールアドレス</div>
          <div class="mypage-email">
            <%= @user.email %>
          </div>
        </div>
      </li>

      <li class="mypage-group">
        <div class='mypage-text-wrap'>
          <div class="mypage-age-label">年代</div>
          <div class="mypage-age">
            <%= @user.age.name %>
          </div>
        </div>
      </li>

      <li class="mypage-group">
        <div class='mypage-text-wrap'>
          <div class="mypage-gender-label">性別</div>
          <div class="mypage-gender">
            <%= @user.gender.name %>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <div class="my-page-btn">
    <div class="user-edit">
      <%= link_to '編集する', edit_user_registration_path(@user.id), class: 'user-edit-button' %>
    </div>
    <div class="top-page-back">
      <%= link_to 'もどる', root_path, class: 'back-button' %>
    </div>
  </div>
</div>