<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class="user-registration-main">
  <div class="form-area-login">
    <div class='form-container-login'>
      <div class='back-link'>
        <%= link_to root_path do %>
          <div class="cancel-btn">
            <i class="fa-regular fa-circle-xmark fa-2xl" style="color: #e25f70;"></i>
          </div>
        <% end %>
      </div>
      <div class='form-header-login'>
        <h1 class='form-header-text'>
          会員情報入力
        </h1>
      </div>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
      </div>
      <div class='register--btn'>
        <%= f.submit "ログイン", class:"register-button" %>
      </div>
      <div class="registration-login--link">
        <%= link_to '新規登録はこちらから', new_user_registration_path, class: "login-link" %>
      </div>
    </div>
  </div>
</div>
<% end %>