
<%= search_form_for @q, html: { class: 'search-form' } do |f| %>
<div class="details-search-form">
  <div class="details-search-wrap">
    <div class='details-back-link'>
      <div class="details-cancel-btn">
        <%= link_to root_path do %>
          <i class="fa-regular fa-circle-xmark fa-2xl" style="color: #e25f70;"></i>
        <% end %>
      </div>
    </div>
    <div class="details-search-logo">
      条件を絞り込む
    </div>
    <div class="search--form-input details">
      <div class="search-form-input-icon">
        <i class="fa-solid fa-paw fa-lg" style="color: #f7dfd4;"></i>
        <div class="search-form-input-label">
          エリア検索
        </div>
      </div>
      <%= f.search_field :address_cont, class: 'search-form-control', placeholder: "エリア（東京都、神奈川県）" %>
    </div>
    <div class="search--form-input details">
      <div class="search-form-input-icon">
        <i class="fa-solid fa-paw fa-lg" style="color: #f7dfd4;"></i>
        <div class="search-form-input-label">
          駅名で検索
        </div>
      </div>
      <%= f.search_field :nearest_station_cont, class: 'search-form-control', placeholder: "駅名（渋谷駅、横浜駅）" %>
    </div>
    <div class="serch-form-input details">
      <div class="search-form-input-icon">
        <i class="fa-solid fa-paw fa-lg" style="color: #f7dfd4;"></i>
        <div class="search-form-input-label">
          ペット可能な席
        </div>
      </div>
      <div class="terrace-seating">
        <div class="terrace-seating-select">
          <%= f.radio_button :attention_eq, "テラス席のみ可" %>
          <%= f.label :attention_eq, "テラス席のみ可", class: "radio-btn-logo" %>
        </div>
        <div class="terrace-seating-select">
          <%= f.radio_button :attention_eq, "店内のみ可" %>
          <%= f.label :attention_eq, "店内のみ可", class: "radio-btn-logo" %>
        </div>
        <div class="terrace-seating-select">
          <%= f.radio_button :attention_eq, "両方可" %>
          <%= f.label :attention_eq, "両方可", class: "radio-btn-logo" %>
        </div>
      </div>
    </div>
    <div class="serch-form-input details">
      <div class="search-form-input-icon">
        <i class="fa-solid fa-paw fa-lg" style="color: #f7dfd4;"></i>
        <div class="search-form-input-label">
          ジャンル
        </div>
      </div>
      <div class="terrace-seating">
        <div class="terrace-seating-select">
          <% cuisines = ['中華料理', '和食', 'イタリアン', 'フレンチ', 'アメリカン', 'インド料理', 'メキシカン', '韓国料理', 'タイ料理', '地中海料理'] %>
          <% cuisines.each do |cuisine| %>
            <div class="check-box-btn-logo">
              <%= f.check_box :genre_in, { multiple: true }, cuisine, nil %> 
              <%= cuisine %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="search-btn">
      <%= f.submit "さがす", class: 'search-button' %>
    </div>
  </div>
</div>
<% end %>